<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--数据库主连接-->
  <add key="defaule_sql_connect" value="localhoset_db"/>
  
  <!--系统日志存储-->
  <add key="default_log_connect" value="server_error"/>
  <!--默认系统登录-->
  <add key="SysManageName" value="sys"/>
  <add key="SysManagePwd" value="1"/>
  
  <!--用户登录标识在session中标识-->
  <add key="sys_session_user_flag" value="user_login_flag"/>
  <!--用户登录标识在Cooke中标识-->
  <add key="sys_cooke_user_flag" value="user_login_flag"/>
  <!--实体数据集-->
  <add key="system_model_Assembly" value="SystemModels.dll"/>
</appSettings>
