@{
    ViewBag.Title = "可视化布局系统";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">数据测试</div>
    </div>
</div>



